.not-found-container {
  height: 100vh;
  width: 100vw;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.not-found-image {
  height: 250px;
  width: 250px;
}
.not-found-heading {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 25px;
  color: #1e293b;
}
.not-found-description {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #475569;
}
.home-page-btn {
  width: 100px;
  height: 25px;
  padding: 4px;
  font-size: 14px;
  font-family: roboto;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  background-color: #f7931e;
}
