.header-container {
  min-height: 10vh;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8fafc;
}
.header-logo {
  height: 50px;
  width: 50px;
}
.left-header {
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-header {
  width: 250px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-heading {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 15px;
  color: #f7931e;
}
.link {
  text-decoration: none;
}
.non-active button {
  color: #334155;
}
.active button {
  color: #f7931e;
}
.link-buttons {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 60px;
  border: none;
  background-color: transparent;
}
.logout-button {
  width: 60px;
  height: 30px;
  border-radius: 8px;
  border: none;
  background: #f7931e;
}
.clickedBtn {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 60px;
  border: none;
  background-color: transparent;
  color: #f7931e;
}
